doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= title

    a(href="/") Return to the homepage

    form(action="/update-cobj" method="POST")
      div
        label(for="name") Name:
        input(type="text" name="name" required)
      div
        label(for="category") Category:
        input(type="text" name="category" required)
      div
        label(for="description") Description:
        input(type="text" name="description" required)
      div
        button(type="submit") Submit
